# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
# Usually, you can ignore this folder as PyInstaller builds your executable here
build/
dist/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Pytest
.pytest_cache/

# Jupyter Notebook files
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# IDE-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs and local database files
*.log
*.sqlite3

# Temporary files
*.tmp
*.temp
*.bak
*.swp
*.swo
~$*

# Secrets / credentials
*.pem
*.key
*.crt
*.pfx

# macOS specific files
.DS_Store

#Custom Ignores
error_logs/
output/
profiles/
task/
profiles.json
local_storage.json